**Pandas DataFrame***

In [1]:
import pandas as pd

In [6]:
dict = {
    "sun":[100,200,300,400],
    "mon":[250,350,450,550],
    "tue":[150,200,250,300],
    "wed":[550,600,650,700]
}
df = pd.DataFrame(dict)
print(df)

   sun  mon  tue  wed
0  100  250  150  550
1  200  350  200  600
2  300  450  250  650
3  400  550  300  700

In [7]:
dict = {
    "sun":[100,200,300,400],
    "mon":[250,350,450,550],
    "tue":[150,200,250,300],
    "wed":[550,600,650,700]
}
df = pd.DataFrame(dict,index=['a','b','c','d'])
print(df)

   sun  mon  tue  wed
a  100  250  150  550
b  200  350  200  600
c  300  450  250  650
d  400  550  300  700

.
*Locate Rows* :
1. loc[]  : for locating by index
2. iloc[] : locate by the position
.

In [10]:
var = df.loc['a']
print(var)

sun    100
mon    250
tue    150
wed    550
Name: a, dtype: int64

In [11]:
var = df.iloc[0]
print(var)

sun    100
mon    250
tue    150
wed    550
Name: a, dtype: int64

In [13]:
var = df.loc[['a','b']]
print(var)

   sun  mon  tue  wed
a  100  250  150  550
b  200  350  200  600

In [14]:
var = df.iloc[[2,3]]
print(var)

   sun  mon  tue  wed
c  300  450  250  650
d  400  550  300  700